.Panel {
  position: absolute;
  right: 20px;
  top: 10%;
  bottom: 10%;
  width: 250px;
  background-color: #fdfdfd;
  border-radius: 15px;
  -webkit-box-shadow: 0 15px 35px 0 rgba(42, 51, 83, 0.12),
    0 5px 15px rgba(0, 0, 0, 0.06) !important;
  box-shadow: 0 15px 35px 0 rgba(42, 51, 83, 0.12),
    0 5px 15px rgba(0, 0, 0, 0.06) !important;
}
