@import 'variables';

@import url('https://fonts.googleapis.com/css?family=Nunito:200,400,600');

body {
  font-family: Nunito-Regular;
  font-size: 13px;
  color: #64727b;
}

.searchbar.form-control-lg {
  padding-left: 45px;
  border: none;
  border-radius: 10px;
  background-color: #e1e3e5;
  font-family: Nunito-Regular;
  font-weight: 600;
  font-size: 18px;
  color: #64727b;

  &:focus {
    box-shadow: none;
  }
}
