body {
  height: 100%;
  width: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
Disable Rubber-Band / Elastic Scroll in OSX with pure CSS by Subash https://gist.github.com/Subash/fe82b0c1ba53347a2399#gistcomment-1566377

*/

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
